html {
    scroll-behavior: smooth;
    scroll-padding: 80px;
    overflow-x: hidden;
}

body {
    color: var(--text-20);
    
    font-family: var(--font-family);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
}

::-webkit-scrollbar {
    background: var(--blue-30);

}

::-webkit-scrollbar-thumb {
    background: var(--glow-20);
    border-radius: 5px;    
}

::-webkit-scrollbar-thumb:hover {
    background: var(--glow-10);
    box-shadow: 0 0 10px var(--glow-10);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.title {
    color: var(--text-10);

    font-size: var(--title-size);
    font-weight: var(--title-weight);
    line-height: var(--title-size);
}

.title--two {
    font-size: var(--title-size-two);
}

.title--highlight {
    color: var(--glow-20);

    text-shadow: 0px 0px 40px var(--glow-20);

    line-height: var(--title-line-height);

    cursor: default;

    transition: all 1s;
}

.title--highlight:hover {
    text-shadow: 0px 0px 20px var(--glow-20);
}

.title--highlight:active {
    text-shadow: 0px 0px 20px red;
    color: red;
}

.paragraph {
    margin-top: 1rem;
    padding-left: .5rem;

    line-height: var(--text-line);

    font-weight: var(--text-weigth-two);
    font-size: var(--text-size-two);
}

.highlight {
    text-decoration: underline;

    font-weight: var(--text-weigth-thee);
}

.highlight--alura {
    color: var(--cyan);
}

.highlight--github {
    color: var(--lightgreen);
}

.highlight--email {
    color: var(--lightsalmon);
    word-break: break-all;
}

.highlight--edutech {
    color: var(--green);
}

.highlight--vscode {
    color: var(--blue);
}

/* Mobile */
@media screen and (min-width: 0px) {
    body {
        background: linear-gradient(158.86deg, #1C2A34 1%, #111A20 40%, #111A20 10%);
    }

    .container {
        padding-right: 1rem;
        padding-left: 1rem; 
    }
}

/* Tablet */
@media screen and (min-width: 426px) {
    .container {
        padding-right: 4rem;
        padding-left: 4rem; 
    }
}

/* Laptop */
@media screen and (min-width: 769px) {
    body {
        background: #111A20 ;
    }

    .container {
        padding-right: 6rem;
        padding-left: 6rem; 
    }
}

/* Desktop */
@media screen and (min-width: 1441px) {
    .paragraph {
        width: 60vw;
    }
}