.about {
    display: flex;
    align-items: center;
}

.about__texts__button {
    margin-top: 2rem;
}

.about__image-and-skills {
    position: relative;
}

.about__image {
    background: url(../img/hacker-mind.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    background-color: var(--blue-50);
    border-radius: 50%;

    width: 28em;
    height: 28em;

    box-shadow: 0 0 30px var(--blue-40);

    transition: 400ms;
}

.about__image-and-skills:hover .about__image {
    box-shadow: 0 0 35px var(--glow-20);

    background-color: var(--glow-20);
}

.about__image-and-skills:hover .about__skills,
.about__image-and-skills:hover .about__skills__item {
    animation-play-state: paused;
}

.about__skills {
    position: absolute;
    top: 0;
    left: 45%;

    height: 28em;

    animation: rotateSkillsList 20s infinite linear;
}

.about__skills__item {
    position: absolute;

    width: 3.5em;
    height: 3.5em;

    transition: 200ms;

    animation: rotateSkillIcon 20s infinite reverse linear;
}

.about__skills__item--html {
    top: -2.9em;
    background: url(../img/icons/html.svg);
}

.about__skills__item--css {
    bottom: -3em;
    background: url(../img/icons/css.svg);
}

.about__skills__item--js {
    top: 50%;
    left: 15.5em;
    background: url(../img/icons/js.svg);
}

.about__skills__item--figma {
    top: 50%;
    left: -15.5em;
    background: url(../img/icons/figma.svg);
}

.about__skills__item--git {
    top: 10%;
    right: -14.5em;
    background: url(../img/icons/git.svg);
}

@keyframes rotateSkillIcon {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateSkillsList {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg) translateX(-1.4em) translateY(-1.4em);
    }

    50% {
        transform: rotate(180deg) translateX(-2.5em) translateY(0);
    }

    75% {
        transform: rotate(270deg) translateX(-1.5em) translateY(1.1em);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Mobile */
@media screen and (min-width: 0px) {
    .about {
        flex-direction: column;

        overflow-x: hidden;
        overflow-y: hidden;

        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .about__texts {
        display: flex;
        flex-direction: column;

        margin-bottom: 4rem;
    }
    .about__texts__button {
        align-self: center;
    }
    .about__image-and-skills {
        font-size: 8px;
    }
}

/* Tablet */
@media screen and (min-width: 426px) {
    .about {
        padding-bottom: 5rem;
    }
    .about__image-and-skills {
        font-size: 12px;
    }
}

/* Laptop */
@media screen and (min-width: 769px) {
    .about__texts__button {
        align-self: flex-start;
    }
}

/* Laptop Large */
@media screen and (min-width: 1025px) {
    
}

/* Desktop */
@media screen and (min-width: 1441px) {
    .about {
        height: 100vh;

        flex-direction: row;
        justify-content: space-between;

        padding-top: 0;
        padding-bottom: 0;
    }
    .about__texts {
        margin: 0;
    }

    .about__texts__paragraph {
        max-width: 55vw;
    }
    .about__image-and-skills {
        font-size: 16px;
    }
}