.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--blue-30);
    border-top: 10px solid var(--blue-20);

    text-align: center;

    padding: 4rem 0;
}

.contact__paragraph {
    margin-top: 0;
}

.contact__button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact__button__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;

    background-image: url(../img/icons/email2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: 200ms;
}

.contact__button:hover
.contact__button__icon {
    background-image: url(../img/icons/email2-green.svg);
}

/* Mobile */
@media screen and (min-width: 0px) {
    .contact {
        height: 40vh;
        scroll-margin-top: calc(60vh - 8rem);
    }
}

/* Tablet */
@media screen and (min-width: 426px) {
    .contact {
        height: 30vh;
        scroll-margin-top: calc(70vh - 8rem);
    }
}