.courses {
    margin-top: 5rem;
}

.courses .card {
    margin-bottom: 2rem;
}

.courses__title {
    margin-bottom: 1rem;
}

/* Mobile */
@media screen and (min-width: 0px) {
    .courses .card:last-child {
        margin: 0;
    }
}

/* Laptop Large */
@media screen and (min-width: 1025px) {
    .courses .card:nth-last-child(-n+2) {
        margin: 0;
    }
}

/* Desktop */
@media screen and (min-width: 1441px) {
    .courses .card:nth-last-child(-n+3) {
        margin: 0;
    }
}