.courses {
    margin-top: 5rem;
}

.courses .card {
    margin-bottom: 2rem;
}

.courses__title {
    margin-bottom: 1rem;
}

/* Laptop */
@media screen and (min-width: 769px) {
    .courses .card:nth-child(17) {
        margin: 0;
    }
}

/* Desktop */
@media screen and (min-width: 1441px) {
    .courses .card:nth-child(n+16):nth-child(-n+17) {
        margin: 0;
    }
}