.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: var(--blue-50);

    border-top: 10px solid var(--blue-40);
}

.footer__texts {
    text-align: center;
}

.footer__texts .footer__texts__item:first-child {
    margin-bottom: 0.8rem;
}

.footer__images {
    display: flex;
}

.footer__link {
    font-weight: var(--text-weigth-thee);
    
    color: white;
    
    text-decoration: underline;
}

.footer__image {
    width: 3.2rem;
    
    margin-right: 1rem;
}

.footer__images__item {
    transition: all 200ms;
}

.footer__images__item:hover {
    transform: translateY(-10px);
}

.footer__images__item:last-child .footer__image {
    margin: 0;
}

/* Mobile */
@media screen and (min-width: 0px) {
    .footer {
        flex-direction: column;
    }

    .footer__texts {
        margin-bottom: 2rem;
        
    }
}

/* Laptop */
@media screen and (min-width: 769px) {
    .footer {
        flex-direction: row;
    }

    .footer__texts {
        margin-bottom: 0rem;
        
    }
}