.information {
    display: flex;
    align-items: center;

    height: 20vw;
}

.information__list {
    width: 100%;

    display: flex;

    justify-content: space-around;
}

@property --gradient-color1 {
    syntax: '<color>';
    initial-value: #82F9A1;
    inherits: false;
}

@property --gradient-color2 {
    syntax: '<color>';
    initial-value: green;
    inherits: false;
}

.information__list__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;

    padding: 2rem 1rem;

    text-align: center;

    background: 
    linear-gradient(var(--blue-10), var(--blue-10)) padding-box,
    linear-gradient(to right, var(--gradient-color1), var(--gradient-color2)) border-box;
    border-radius: 1rem;
    border: 4px solid transparent;

    transition: --gradient-color1 1s,
    --gradient-color2 1s,
    border-radius 1s;
}

.information__list__card:hover {
    border-radius: 2rem;
    --gradient-color1: blue;
    --gradient-color2: red;

}

.information__list__card__icon {
    width: 4rem;
    height: 4rem;

    margin-bottom: 1rem;
    background-size: cover !important;
}

.information__list__card__icon--about-me {
    background: url(../img/icons/badge.svg);
}

.information__list__card__icon--professional-experience {
    background: url(../img/icons/code.svg);
}

.information__list__card__icon--study {
    background: url(../img/icons/study.svg);
}

.information__list__card__title {
    font-size: var(--title-size-two);
}

.information__list__card__paragraph {
    /* flex-grow: 1; */
    /* height: 33%; */
}

.information__item-animation {
    position: relative;

    z-index: 2;

    animation: itemMove 15s infinite ease-in-out
}

.information__item-animation:hover {
    animation-play-state: paused;
}

.information__item-animation:active .information__item-animation__image {
    animation-play-state: paused;

    background: url(../img/robot-laser.svg);
    background-repeat: no-repeat;

    width: 22rem;
}

.information__item-animation__image {
    position: absolute;

    top: 0;
    left: 0;

    background: url(../img/robot-up.svg);
    background-repeat: no-repeat;
    width: 10rem;
    height: 8rem;
    animation: itemAnimation 1s steps(1) infinite both;
}

.information__item-animation__image:last-child {
    background: url(../img/robot-down.svg);
    background-repeat: no-repeat;

    animation: itemAnimation2 1s steps(1) infinite both;
}

@keyframes itemAnimation {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

@keyframes itemAnimation2 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: translateY(5px);
    }
}

@keyframes itemMove {
    0% {
        -webkit-transform: translateX(-15vw);
        transform: translateX(-15vw)
    }

    35% {
        -webkit-transform: translate(35vw);
        transform: translate(35vw)
    }

    40% {
        -webkit-transform: translate(35vw);
        transform: translate(35vw)
    }

    70% {
        -webkit-transform: translate(75vw);
        transform: translate(75vw)
    }

    75% {
        -webkit-transform: translate(75vw);
        transform: translate(75vw)
    }

    100% {
        -webkit-transform: translate(110vw);
        transform: translate(110vw)
    }
}
