.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;

    z-index: 1;

    scroll-margin-top: 80px;
}

.introduction__video {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100vw;
    height: 100vh;

    object-fit: cover;

    opacity: 0.2;
}

#introduction__title-typing::after {
    content: "|";
    color: white;
    margin-left: .2rem;

    animation: blink 800ms infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
}

.introduction__subtitle {
    font-weight: var(--text-weigth-two);

    margin-bottom: .5rem;
}

.introduction__content-box {
    display: flex;

    margin-top: 2rem;
}

.introduction__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.introduction__list__item__icon {
    width: 45px;
    height: 45px;

    margin-right: 10px;

    transition: 200ms;
}

.introduction__list .introduction__list__item:last-child .introduction__list__item__icon {
    margin: 0;
}

.introduction__list__item__icon:hover {
    transform: translateY(-5px);
}

/* Mobile */
@media screen and (min-width: 0px) {
    .introduction {
        margin-top: 2rem;
        background: none;
    }

    .introduction__video {
        display: none;
    }

    .introduction__title {
        height: 25vh;
        text-align: center;
    }

    .introduction__content-box {
        align-items: center;
        flex-direction: column;
    }
    

    .introduction__skills {
        margin-bottom: 1rem;
    }
}


/* Laptop */
@media screen and (min-width: 769px) {
    .introduction {
        background: linear-gradient(0deg, #111A20 10%, #fdbb2d00 90%);
    }

    .introduction__video {
        display: block;
    }

    .introduction__title {
        height: 20vh;
    }

    .introduction__content-box {
        justify-content: space-between;
        flex-direction: row;
    }

    .introduction__skills {
        margin-bottom: 0;
    }
}

/* Laptop Large */
@media screen and (min-width: 1025px) {
    .introduction__title {
        height: 15vh;
        text-align: start;
    }

    .introduction__subtitle {
        padding-left: .5rem;
    }

    .introduction__content-box {
        justify-content: flex-start;
    }

    .introduction__skills {
        margin-right: 6rem;
    }
}

/* Desktop */
@media screen and (min-width: 1441px) {
    .introduction__title {
        height: 7vh;
        text-align: start;
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}