.introduction {
    margin-top: 6rem;
}

.introduction__title {
    color: var(--glow-20);
    text-shadow: 0px 0px 40px var(--glow-20);

    line-height: 4rem;

    transition: all 1s;

    cursor: default;
}

.introduction__title:hover {
    text-shadow: 0px 0px 20px var(--glow-20);
}

.introduction__title:active {
    text-shadow: 0px 0px 20px red;
    color: red;
}

.introduction__paragraph {
    width: 60vw;

    margin-top: 4rem;

    line-height: var(--text-line);

    font-weight: var(--text-weigth-two);
    font-size: var(--text-size-two);
}