.button {
    background-color: transparent;
    border: 2px solid var(--blue-40);
    border-radius: 10px;

    padding: .4rem 2rem;

    text-align: center;

    color: var(--text-10);

    font-size: var(--text-size);
    font-family: var(--font-family);
    font-weight: var(--button-weight);
}

.button:hover {
    background-color: var(--blue-30);

    color: var(--glow-10);
}

.button--second {
    background-color: var(--glow-20);

    border: none;

    color: var(--blue-10);

    font-weight: var(--button-weight-two);

    padding: .6rem 1.5rem;

    transition: 200ms;
}

.button--second:hover {
    box-shadow: 0px 0px 15px var(--glow-20);
    background-color: var(--blue-20-trasparent);
}