.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    background-color: var(--blue-20);

    padding: 2rem;

    border-left: var(--card-border) var(--glow-20);
    border-radius: var(--card-border-radius);

    cursor: pointer;

    transition: all 350ms;
}

.card:hover { 
    transform: translateY(-5px);
    
    box-shadow: var(--card-shadow) var(--glow-20);
}

.card__icon {
    padding-right: 50px;
    height: 50px;
}

.card__text {
    line-height: 1.5rem;

    margin-top: 1.5rem;
}

.card__button {
    margin-top: 4rem;
}

.card__link {
    display: flex;
    align-items: center;
}

.card--second {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 1rem;

    overflow: hidden;
}

.card--second .title {
    font-size: var(--text-size);

    margin-left: .7rem;
}

/* Mobile */
@media screen and (min-width: 0px) {
    .card {
        width: 100%;
    }

    .card--second {
        height: calc(10rem - 8vw);
    }

    .card--second .title {
        line-height: 1.5rem;

        font-size: 1.1rem;
    }
}

/* Tablet */
@media screen and (min-width: 426px) {
    .card--second .title {
        font-size: inherit;
    }
}

/* Laptop */
@media screen and (min-width: 769px) {
    .card--second {
        height: calc(10rem - 5vw);
    }
}

/* Laptop Large */
@media screen and (min-width: 1025px) {
    .card {
        width: 45%;
        height: inherit;
    }

    .card--second {
        width: 45%;
        height: calc(10rem - 2vw);
    }

    .card--second .title {
        line-height: 1.8rem;
    }
}

/* Desktop */
@media screen and (min-width: 1441px) {
    .card--second {
        width: 30%;
    }

    .card--second .title {
        line-height: 2.2rem;
    }
}